.lead{

  max-height: 1005px;
  max-width: 984px;
  margin: 0 auto;

}

@media screen and (max-width: 1024px) {
  .lead{
  max-height: 962px;
  max-width: 928px;
  }
} 

@media screen and (max-width: 768px) {
  .lead{
  max-height: 862px;
  max-width: 768px;
  margin: 0;
  }
} 
@media screen and (max-width: 320px) {
  .lead{
  max-height: 406px;
  max-width: 320px;
  }
} 