.cover__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 360px;
}


@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 14px;
        line-height: 16px;
  } }