.lead__image{
  display: flex;
    max-width: 984px;
max-height: 615px;
margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__image{
  max-height: 580px;
  max-width: 928px;
  }
} 
@media screen and (max-width: 768px) {
  .lead__image{
  max-height: 480px;
  width: 100%;
  margin: 0;
  }
} @media screen and (max-width: 320px) {
  .lead__image{
    max-height: 200px;
  }
} 
