.lead__caption{
    font-family: Inter;
font-style: normal;
font-weight: normal;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 8px;
}




@media screen and (max-width: 800px) {
    .lead__caption{
margin-left: 24px;
    }
  } 